<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <dataConfiguration defaultDatabase="DITOSqlServer"/>
  <connectionStrings>
    <add name="DITOSqlServer" connectionString="Server=SERCO-LUIABRAC\SQLSVR2008;Database=DITOZenso;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="10485760">
          <readerQuotas maxDepth="10485760" maxStringContentLength="10485760" maxArrayLength="10485760" maxBytesPerRead="10485760" maxNameTableCharCount="10485760" />
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="ExternalOrderService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="DITO.Zenso.Services.Writes.Authentication" behaviorConfiguration="RESTBehavior">
        <endpoint address=""
              binding="webHttpBinding"
              contract="DITO.Zenso.Services.Messages.IAuthentication"
              behaviorConfiguration="JsonBehavior"/>
      </service>
      <service name="DITO.Zenso.Services.Writes.ZensoAdministration" behaviorConfiguration="RESTBehavior">
        <endpoint address=""
              binding="webHttpBinding"
              contract="DITO.Zenso.Services.Messages.IZensoAdministration"
              behaviorConfiguration="JsonBehavior"/>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="Authentication.svc" service="DITO.Zenso.Services.Writes.Authentication" />
        <add relativeAddress="ZensoAdministration.svc" service="DITO.Zenso.Services.Writes.ZensoAdministration" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RESTBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ServiceManagementBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="JsonBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client></client>
  </system.serviceModel>
</configuration>