<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="" providerName="" />
	</connectionStrings>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:05:00" sendTimeout="00:02:00" maxBufferPoolSize="104857600" maxBufferSize="104857600" maxConnections="1000" maxReceivedMessageSize="104857600">
          <readerQuotas maxDepth="104857600" maxStringContentLength="104857600" maxArrayLength="104857600" maxBytesPerRead="104857600" maxNameTableCharCount="104857600" />
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="1.00:00:00" sendTimeout="00:02:00" listenBacklog="1000" maxBufferPoolSize="10485760" maxBufferSize="10485760" maxConnections="1000" maxReceivedMessageSize="10485760" portSharingEnabled="true">
          <readerQuotas maxDepth="10485760" maxStringContentLength="10485760" maxArrayLength="10485760" maxBytesPerRead="10485760" maxNameTableCharCount="10485760" />
          <security mode="Transport" />
          <reliableSession inactivityTimeout="1.00:00:00" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="2000000000" />
		      <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment>
      <serviceActivations>
        <remove relativeAddress="~/ServiceManagement.svc" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <appSettings>
    <add key="clientCode" value="" />
    <add key="companyCode" value="" />
    <add key="HNS" value="false" />
    <add key="logFile" value="c:\Services\" />
    <add key="PersistLog" value="si" />
    <add key="TraceFile" value="c:\Services\" />
    <add key="PersistTrace" value="si" />
	  <add key="defaultDatabase" value="DefaultConnection" />
</appSettings>
</configuration>